#jumbotron {
  background-image: url("../css/images/background-music.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-position: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}