#jumbotron {

  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-position: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

#jumbotron-inner {
  width: 100%;
  margin: 3.5%;
  color: white;
  font-size: 18px;
  line-height: 1.3;
}

.name {
  text-align: right;

}